body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #121212;
    color: white;
}

.header {
    background-color: #222;
    padding: 20px;
}

h1 {
    color: #4A90E2;
}

button {
    background-color: #E24A4A;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #C0392B;
}

.hero, .plans, .testimonials, .blog, .contact {
    padding: 40px;
}

.plan, .blog-post {
    background-color: #333;
    margin: 10px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
}

body {
    background-image: url('https://github.com/Alb1One/alb1one-training/blob/main/DALL%C2%B7E%202025-03-17%2012.33.13%20-%20Uma%20imagem%20abstrata%20e%20din%C3%A2mica%20para%20um%20site%20de%20treino%2C%20com%20tons%20que%20variam%20do%20azul%20claro%20ao%20vermelho%20escuro%2C%20transmitindo%20intensidade%20e%20energia.%20png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
